# ASSIGNMENT 2

### QUESTION 1

In [43]:
List=[]
List
for i in range(10):
    x=int(input())
    if x%2==0:
        List.append(x)
List

 1
 2
 3
 4
 5
 6
 7
 8
 9
 10

[2, 4, 6, 8, 10]

### QUESTION 2

In [45]:
example = []
for i in range(1, 5):
    example.append(i)
example

[1, 2, 3, 4]

In [ ]:
city1 = ["Paris", "London", "Berlin", "Tokyo", "Sydney"]
city2 = []
for x in city1:
    city2.append(x)
print(city2)

### QUESTION 3

In [ ]:
n=int(input())
d={}
for i in range(n):
    d[i+1]=(i+1)**2
d

### QUESTION 4

In [ ]:
n=int(input())
steps=['UP 5','DOWN 3','LEFT 3','RIGHT 2']
steps
for i in range(n):
    print(steps[i])
print("2")